<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATM Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/welcome.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="hero-section">
        
        <div class="hero-left">
            <h1>ATM Cash <br> Withdrawal</h1>
            <p>
                Welcome to our secure ATM Application. 
                Fast, reliable and safe banking at your fingertips.
            </p>

            <a href="{{url_for('index')}}" class="btn-primary">
                GET STARTED
            </a>
        </div>

        <div class="hero-right">
            <img src="/static/atm.jpg" alt="ATM Illustration">
        </div>

    </div>

</body>
</html>