<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/withdraw.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/44ecae932d.js" crossorigin="anonymous"></script>
</head>

<body>

<a href="{{url_for('dashboard')}}" class="top-btn">
    <i class="fa-solid fa-arrow-left"></i> Dashboard
</a>

<div class="withdraw-wrapper">

    <div class="withdraw-card">
        <h1>Withdraw Money</h1>

        <form method="POST">
            <label>Enter Amount</label>
            <input type="number" name="amount" placeholder="Enter amount" required>

            <button type="submit">Withdraw</button>
        </form>
    </div>

</div>

</body>
</html>